server:
  standalone:
    enabled: "-"
    config: |
      ui = true
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "file" {
        path = "/vault/data"
      }
      seal "gcpckms" {
         project     = "${project_id}"
         region      = "${region}"
         key_ring    = "${key_ring}"
         crypto_key  = "${crypto_key}"
      }

  serviceAccount:
    create: false
    name: ${gke_service_account}


ui:
  enabled: true